<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img
        src="./../../../assets/images/logo-MSSS.jpg"
        id="icon"
        alt="logo-MSSS"
      />
      <h3>Demande de permis</h3>
    </div>
    <div class="fadeIn second">
      <form [formGroup]="requestPermisForm" (ngSubmit)="onSubmit()">
        <div *ngIf="validMessage != ''">
          <h3 class="has-info">{{ validMessage }}</h3>
        </div>

        <div class="form-group">
          <label for="citoyen" Subscription Type>Choisir pour qui</label>
          <select class="form-control" id="citoyen" formControlName="citoyen">
            <option value="Softley">Softley</option>
            <option value="Afganistan">enfant1</option>
            <option value="Afganistan">enfant2</option>
          </select>
        </div>
        <!--
  <div class="form-group">
    <label for="vaccin">Type de permis</label><br />
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="vaccin"
        name="type"
        value="vaccin"
        formControlName="type"
      />
      <label for="male" class="form-check-label">Permis vaccin</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="test"
        name="type"
        value="test"
        formControlName="type"
      />
      <label for="test" class="form-check-label">Permis test</label>
    </div>
  </div>
-->
        <input type="submit" class="fadeIn third" value="Demander un permis" />
      </form>
    </div>
  </div>
</div>
